/* spanタグの折り返し改行が画面左端から始まるように。 */
.breakable {
	/* word-break: break-all; */
	/* color: red; */
}

body{		
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
nav {
  width: 100%;
  height: 70px;  
  padding: 10px 10px;
  box-sizing: border-box;
  margin: 0%;
}

/* :::SECTION */

/* タグspan */
.tag {
	/* border: 1px solid #aaaaaa; */
	position: absolute; /* absolute指定しないと、widthが出てこない。 */
	/* font-size: 12px; */
	margin: 0%;
	padding: 0%;
	line-height: 120%
}
/* ラベルspan（左のspeakerやID） */
.label {
	/* background: #888; */
	/* border: 1px solid #22aaaa; */
	position: absolute;
	margin: 0%;
	padding: 0%;
	line-height: 120%
	/* font-size: 12px; */
}
/* 矢印 */
.arrow{
	position: absolute;
	text-align: center;
}

.group-line {
	position: absolute;    
	overflow: visible;
    left: 0px;
    width: 300px;
    /* border-top: 0.5px dashed #000; 線の色や太さを指定 */
}

/* 動画エリア */
#videoContainer {
	resize: both;
	overflow: auto;
	display: inline-block;
	/* 初期サイズ指定 */
	width: 480px;
	height: 270px;
	/* width: 960px;
	height: 540px; */
}
video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 編集エリア */
#editContainer {
	height: 100px;	
}

#ddarea {
	width: 100%;
	height: 150px;
	border: 1px dotted #888;
	margin: 1em auto;
	text-align: center;
	/* display: table-cell; */
	/* vertical-align: middle; */
}
#ddarea.ddefect {
	border: 1px solid #000;
}

/* トラクリのエリア */
#transcriptArea {
	/* background-color: #eeeeee; */
	/* border-color: #000; */
	/* border-width: thick;	 */
	display: none;
	position: relative;
	height: 600px;	
	top: 0px;	
	/* margin: 10px;		 */
	padding: 0%;
}

/* ヘッダ行 */
#headerArea{
	/* background-color: #eeeeee; */
	background-color: #ffffff;
	border-color: #000;		
	position: absolute;
	height: 20px;
	width: 320px;
	top: 0px;
	left: 0px;	
	padding: 0%;
	margin-bottom: 0px;
	/* margin: 10px; */
	/* margin-left: 10px; */
}

#scrollable-div{
	position: absolute;
	overflow: auto; /* コンテンツがはみ出した場合にスクロールバーを表示 */
	border: 1px solid #ccc; /* 枠線を追加 */	
	left: 0px;	
	height: 570px;/*NOTE:transcriptAreaとおなじ*/		
}

/* トラクリタグたちが描かれるエリア */
#dataArea{
	background-color: #ffffff;
	border-color: #000;
	position: absolute;
	/* position: relative; */
	height: 570px;	
	top: 0px;	
	padding: none;		
}

/* :::設定メニュー */
#settings-icon {
	cursor: pointer;
	font-size: 24px;
	position: fixed;
	top: 20px;
	right: 20px;
}

#settings-menu {
	position: fixed;
	top: 50px;
	right: 20px;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.layerTranscript {
  position: absolute;
  z-index: 1;
}

.layerComment {
  position: absolute;
  z-index: 2;
}

.comment {
  width: 200px;
  /* height: 18px; */
  position: absolute;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
}
.comment .header {
  width: 100%;
  height: 14px;
  margin: 0;
  display: flex;
  /* box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2); */
}
.comment .header .p {
  width: 100%;
  height: 14px;
  margin: 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment .header .deleteButton {
  width: 14px;
  height: 14px;
  margin: 0;
  text-align: center;
}
.comment .field {
  width: 100%;
  min-height: 18px;
  /* height: 36px; */
  box-sizing: border-box;
  border: none;
  font-size: 12px;
  resize: vertical;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}
.comment .field .input {
  width: 100%;
  min-height: 18px;
  box-sizing: border-box;
  border: none;
  font-size: 12px;
  resize: vertical;
  background-color: transparent;
}
.comment .field .select {
  background-color: transparent;
  border: none;
  width: 100px;
}

/* コメント付箋のカラーパレット */
.comment.blue .header {
  background-color: #89f0ff;
}
.comment.blue .field {
  background-color: #adf4ff;
}

.comment.yellow .header {
  background-color: #FEEA3D;
}
.comment.yellow .field {
  background-color: #FEF49C;
}

.comment.green .header {
  background-color: #83FE83;
}
.comment.green .field {
  background-color: #B2FFA0;
}

.comment.pink .header {
  background-color: #FFB2B2;
}
.comment.pink .field {
  background-color: #FFC7C7;
}

.comment.purple .header {
  background-color: #9BB6FE;
}
.comment.purple .field {
  background-color: #B6CAFF;
}

.comment.gray .header {
  background-color: #DADADA;
}
.comment.gray .field {
  background-color: #EEEEEE;
}

.categoryList {
  position: fixed;
	top: 50px;
	right: 20px;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}