/* spanタグの折り返し改行が画面左端から始まるように。 */
.breakable {
	/* word-break: break-all; */
	/* color: red; */
}

body{		
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
nav {
  width: 100%;
  height: 70px;  
  padding: 10px 10px;
  box-sizing: border-box;
  margin: 0%;
}

/* :::SECTION */

/* タグspan */
.tag {
	/* border: 1px solid #aaaaaa; */
	position: absolute; /* absolute指定しないと、widthが出てこない。 */
	/* font-size: 12px; */
	margin: 0%;
	padding: 0%;
	line-height: 120%
}
/* ラベルspan（左のspeakerやID） */
.label {
	/* background: #888; */
	/* border: 1px solid #22aaaa; */
	position: absolute;
	margin: 0%;
	padding: 0%;
	line-height: 120%
	/* font-size: 12px; */
}
/* 矢印 */
.arrow{
	position: absolute;
	text-align: center;
}

.group-line {
	position: absolute;    
	overflow: visible;
    left: 0px;
    width: 300px;
    /* border-top: 0.5px dashed #000; 線の色や太さを指定 */
}

/* 動画エリア */
#videoContainer {
	resize: both;
	overflow: auto;
	display: inline-block;
	/* 初期サイズ指定 */
	/* width: 480px;
	height: 270px; */
}
.myVideo {
	width: 100%;
	height: 100%;
}
#ddarea {
	width: 100%;
	height: 150px;
	border: 1px dotted #888;
	margin: 1em auto;
	text-align: center;
	/* display: table-cell; */
	/* vertical-align: middle; */
}
#ddarea.ddefect {
	border: 1px solid #000;
}

/* トラクリのエリア */
#transcriptArea {
	/* background-color: #eeeeee; */
	/* border-color: #000; */
	/* border-width: thick;	 */
	display: none;
	position: relative;
	height: 600px;	
	top: 0px;	
	margin: 10px;		
	padding: 0%;
}

/* ヘッダ行 */
#headerArea{
	/* background-color: #eeeeee; */
	background-color: #ffffff;
	border-color: #000;		
	position: absolute;
	height: 20px;
	width: 320px;
	top: 0px;
	left: 0px;	
	padding: 0%;
	margin-bottom: 0px;
	/* margin: 10px; */
	/* margin-left: 10px; */
}

#scrollable-div{
	position: absolute;
	overflow: auto; /* コンテンツがはみ出した場合にスクロールバーを表示 */
	border: 1px solid #ccc; /* 枠線を追加 */	
	left: 0px;	
	height: 570px;/*NOTE:transcriptAreaとおなじ*/		
}

/* トラクリタグたちが描かれるエリア */
#dataArea{
	background-color: #ffffff;
	border-color: #000;
	position: absolute;
	/* position: relative; */
	height: 570px;	
	top: 0px;	
	padding: none;		
}

/* :::設定メニュー */
#settings-icon {
	cursor: pointer;
	font-size: 24px;
	position: fixed;
	top: 20px;
	right: 20px;
}

#settings-menu {
	position: fixed;
	top: 50px;
	right: 20px;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.layerTranscript {
  position: absolute;
  z-index: 1;
}

.layerComment {
  position: absolute;
  z-index: 2;
}

.draggable {
  width: 200px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  font-size: 12px;
}
.header {
  width: 100%;
  height: 14px;
  margin: 0;
  background-color: #89f0ff;
}
.draggable textarea {
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  background-color: #adf4ff;
  border: none;
  font-size: 12px;
  resize: vertical;
}